<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Austin_HPI</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2015-12-31</th>
      <td>587450</td>
    </tr>
    <tr>
      <th>2015-10-31</th>
      <td>589000</td>
    </tr>
    <tr>
      <th>2015-02-28</th>
      <td>620000</td>
    </tr>
    <tr>
      <th>2015-01-31</th>
      <td>620000</td>
    </tr>
    <tr>
      <th>2014-12-31</th>
      <td>629000</td>
    </tr>
    <tr>
      <th>2014-11-30</th>
      <td>632500</td>
    </tr>
    <tr>
      <th>2014-10-31</th>
      <td>619900</td>
    </tr>
    <tr>
      <th>2014-09-30</th>
      <td>589700</td>
    </tr>
    <tr>
      <th>2014-08-31</th>
      <td>579000</td>
    </tr>
    <tr>
      <th>2014-07-31</th>
      <td>549900</td>
    </tr>
    <tr>
      <th>2014-06-30</th>
      <td>525000</td>
    </tr>
    <tr>
      <th>2014-05-31</th>
      <td>505000</td>
    </tr>
    <tr>
      <th>2014-04-30</th>
      <td>499900</td>
    </tr>
    <tr>
      <th>2014-03-31</th>
      <td>475000</td>
    </tr>
    <tr>
      <th>2014-02-28</th>
      <td>489000</td>
    </tr>
    <tr>
      <th>2014-01-31</th>
      <td>465000</td>
    </tr>
    <tr>
      <th>2013-12-31</th>
      <td>464750</td>
    </tr>
    <tr>
      <th>2013-11-30</th>
      <td>439000</td>
    </tr>
    <tr>
      <th>2013-10-31</th>
      <td>449000</td>
    </tr>
    <tr>
      <th>2013-09-30</th>
      <td>419900</td>
    </tr>
    <tr>
      <th>2013-08-31</th>
      <td>425000</td>
    </tr>
    <tr>
      <th>2013-07-31</th>
      <td>425000</td>
    </tr>
    <tr>
      <th>2013-06-30</th>
      <td>449000</td>
    </tr>
    <tr>
      <th>2013-05-31</th>
      <td>450000</td>
    </tr>
    <tr>
      <th>2013-04-30</th>
      <td>449995</td>
    </tr>
    <tr>
      <th>2013-03-31</th>
      <td>430000</td>
    </tr>
    <tr>
      <th>2013-02-28</th>
      <td>424999</td>
    </tr>
    <tr>
      <th>2013-01-31</th>
      <td>389000</td>
    </tr>
    <tr>
      <th>2012-12-31</th>
      <td>399000</td>
    </tr>
    <tr>
      <th>2012-11-30</th>
      <td>399000</td>
    </tr>
    <tr>
      <th>2012-10-31</th>
      <td>414900</td>
    </tr>
    <tr>
      <th>2012-09-30</th>
      <td>379900</td>
    </tr>
    <tr>
      <th>2012-08-31</th>
      <td>379000</td>
    </tr>
    <tr>
      <th>2012-07-31</th>
      <td>359000</td>
    </tr>
    <tr>
      <th>2012-06-30</th>
      <td>365000</td>
    </tr>
    <tr>
      <th>2012-05-31</th>
      <td>355000</td>
    </tr>
    <tr>
      <th>2012-04-30</th>
      <td>349000</td>
    </tr>
    <tr>
      <th>2012-03-31</th>
      <td>349900</td>
    </tr>
    <tr>
      <th>2012-02-29</th>
      <td>349000</td>
    </tr>
    <tr>
      <th>2012-01-31</th>
      <td>349000</td>
    </tr>
    <tr>
      <th>2011-12-31</th>
      <td>359000</td>
    </tr>
    <tr>
      <th>2011-11-30</th>
      <td>349000</td>
    </tr>
    <tr>
      <th>2011-10-31</th>
      <td>335000</td>
    </tr>
    <tr>
      <th>2011-09-30</th>
      <td>345900</td>
    </tr>
    <tr>
      <th>2011-08-31</th>
      <td>349900</td>
    </tr>
    <tr>
      <th>2011-07-31</th>
      <td>349900</td>
    </tr>
    <tr>
      <th>2011-06-30</th>
      <td>345000</td>
    </tr>
    <tr>
      <th>2011-05-31</th>
      <td>346000</td>
    </tr>
    <tr>
      <th>2011-04-30</th>
      <td>342999</td>
    </tr>
    <tr>
      <th>2011-03-31</th>
      <td>347000</td>
    </tr>
    <tr>
      <th>2011-02-28</th>
      <td>349900</td>
    </tr>
    <tr>
      <th>2011-01-31</th>
      <td>353100</td>
    </tr>
    <tr>
      <th>2010-12-31</th>
      <td>359000</td>
    </tr>
    <tr>
      <th>2010-11-30</th>
      <td>359000</td>
    </tr>
    <tr>
      <th>2010-10-31</th>
      <td>361200</td>
    </tr>
    <tr>
      <th>2010-09-30</th>
      <td>359900</td>
    </tr>
    <tr>
      <th>2010-08-31</th>
      <td>359900</td>
    </tr>
    <tr>
      <th>2010-07-31</th>
      <td>359900</td>
    </tr>
    <tr>
      <th>2010-06-30</th>
      <td>365000</td>
    </tr>
    <tr>
      <th>2010-05-31</th>
      <td>369000</td>
    </tr>
    <tr>
      <th>2010-04-30</th>
      <td>369000</td>
    </tr>
    <tr>
      <th>2010-03-31</th>
      <td>379000</td>
    </tr>
    <tr>
      <th>2010-02-28</th>
      <td>385000</td>
    </tr>
    <tr>
      <th>2010-01-31</th>
      <td>375000</td>
    </tr>
    <tr>
      <th>2009-12-31</th>
      <td>375000</td>
    </tr>
    <tr>
      <th>2009-11-30</th>
      <td>365000</td>
    </tr>
    <tr>
      <th>2009-10-31</th>
      <td>370000</td>
    </tr>
    <tr>
      <th>2009-09-30</th>
      <td>379900</td>
    </tr>
    <tr>
      <th>2009-08-31</th>
      <td>369900</td>
    </tr>
    <tr>
      <th>2009-07-31</th>
      <td>379000</td>
    </tr>
    <tr>
      <th>2009-06-30</th>
      <td>369000</td>
    </tr>
    <tr>
      <th>2009-05-31</th>
      <td>365000</td>
    </tr>
    <tr>
      <th>2009-04-30</th>
      <td>370000</td>
    </tr>
    <tr>
      <th>2009-03-31</th>
      <td>379900</td>
    </tr>
    <tr>
      <th>2009-02-28</th>
      <td>349500</td>
    </tr>
    <tr>
      <th>2009-01-31</th>
      <td>329900</td>
    </tr>
    <tr>
      <th>2008-12-31</th>
      <td>339900</td>
    </tr>
    <tr>
      <th>2008-11-30</th>
      <td>339900</td>
    </tr>
    <tr>
      <th>2008-10-31</th>
      <td>339900</td>
    </tr>
  </tbody>
</table>